<%= form_for(@datum) do |f| %>
  <% if @datum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@datum.errors.count, "error") %> prohibited this datum from being saved:</h2>

      <ul>
      <% @datum.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :figshare_url %><br />
    <%= f.text_field :figshare_url %>
  </div>
    <% if !@data.nil? %>
  <div class="field">
    <%= f.label :dataset %><br />
    <%= f.text_area :dataset %>
  </div>
  <div class="field">
    <%= f.label :uploader %><br />
    <%= f.text_area :uploader %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
        <% end %>

<% end %>
