<p id="notice"><%= notice %></p>

<p>
  <b>Figshare url:</b>
  <%= @datum.figshare_url %>
</p>

<p>
  <b>Dataset:</b>
  <%= @datum.dataset %>
</p>

<p>
  <b>Uploader:</b>
  <%= @datum.uploader %>
</p>


<%= link_to 'Edit', edit_datum_path(@datum) %> |
<%= link_to 'Back', data_path %>
